form{
  padding: 5px 120px;
  text-align: center;
  line-height: 4;
}
.products{
  padding: 20px;
  margin: 20px;
}

.header{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}